/** CSS stylesheet for Calculadora-fetal
--[1. Header]--
--[2. Nav] --
*/

.container {
  max-width: 100% !important;
}

button:not(.react-datepicker__navigation, #dropdownMenuButton, .dropdown-item) {
  height: 40px;
  font-size: 16px;
  background-color: #01A9DB;
  box-shadow: 2px 2px 4px #666;
  border-radius: 10px;
  width: auto;
  max-width: 200px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  margin-right: 0;
}

button:not(.react-datepicker__navigation, #dropdownMenuButton, .dropdown-item):hover {
  background-color: #01DFD7;
}

.focus {
  background-color: #0187b9 !important;
}

.read-only-number {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

/* 1.- Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #039bdc;
  font-family: "Montserrat", sans-serif;
  height: 250px;
  overflow: hidden;
}

#logo-with-bg {
  background-image: url(../public/images/fachada2.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 65%;
}

#logo-container {
  width: 100%;
  background-color: white;
  height: 160px;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-around;
}

#section-img-wrapper {
  max-height: 250px;
  min-width: 100px;
  height: 100%;
  width: 20%;
  position: relative;
}

#section-img {
  margin: 0 auto auto 0;
  height: auto;
  width: 100%;
  max-width: 200px;
}
#section-img:dir(rtl){
  transform: scaleX(-1);
}
#language-wrapper {
  min-width: 85px;
  width: 20%;
  height: 100%;
  overflow: visible;
}

.dropdown {
  height: 38px;
  width: 63px;
  margin: 0 0 auto auto;
}


@media only screen and (min-width: 1280px) {

  header h1 {
    font-size: 150%;
  }

}

@media (min-width:768px) and (max-width: 1280px) {
  header h1 {
    font-size: 130%;
    text-align: center;
  }

  #sub-header-container {
    background-size: 150%;
  }


}

@media (min-width:500px) and (max-width: 767px) {
  #section-img {
    margin: 50% auto auto 0;
  }

  header h1 {
    font-size: 130%;
    text-align: center;
  }

  #sub-header-container {
    background-size: 150%;
  }

}

@media only screen and (max-width: 499px) {
  header{
    flex-direction: column-reverse;
  }
  header h1 {
    font-size: 130%;
    text-align: center;
  }
  #section-img-wrapper{
    display: none;
  }
  #language-wrapper{
    margin: auto 0 auto auto;
  }
  #logo-with-bg{
    width: 80%;
    margin: auto;
    background-image: none;
  }
  #sub-header-container {
    background-size: 150%;
  }
}

/* 2.- Nav */
nav {
  display: flex;
  flex-direction: column;
  margin: 30px auto 30px auto;
  max-width: 1620px !important;
  width: 100%;
  background-color: #fff;
}

nav .forms-container {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
  margin: auto auto 30px auto;
  width: 80%;
  height: 200px;
  background-color: #efefef;
  border-radius: 10px;
  border: solid 1px #bbb;
  box-shadow: 2px 2px 4px #888;
  margin-bottom: 25px;
  align-items: center;
  justify-content: space-around;

}

nav .forms-container .FUR-form {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
.date-content{
  text-align: center;
}
.react-datepicker-wrapper,
.expected-birth,
.weeks-form div input {
  width: 23% !important;
  min-width: 170px;
}

.react-datepicker-wrapper input {
  width: 100%;
  text-align: center;
}

.expected-birth {
  font-size: 15px;
  height: 30px;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .react-datepicker__navigation{
    top: 10px !important;
  }
  .react-datepicker__navigation--next{
    right: -40% !important;
  }
  .react-datepicker__navigation--previous{
    left: -40% !important;
  }
  
}
nav .forms-container .weeks-form {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

.weeks-form div {
  width: auto;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  align-items: center;
}

nav #navBar {
  margin: 0;
  display: none;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  place-items: center;
}

nav #navBar button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  font-size: 14px;
  border-radius: 15px;
  width: 16.3% !important;
  margin: 0 !important;
}

nav #navBar button:hover {
  background-color: #01DFD7;
}

@media screen and (max-width: 1079px){
  nav .forms-container{
    padding: 200px 0;
    row-gap: 10px;
  }
  nav .forms-container .FUR-form{
    display: grid;
    row-gap: 25px;
    grid-template-columns: repeat(2,50%);
  }
  nav .forms-container .weeks-form{
    border-top: #0187b9 solid 1px;
    padding: 10px 0;
    display: flex;
    row-gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  nav .forms-container .weeks-form div{
    display: flex;
    place-content: center;
    width: 50%;
  }
  nav button{
    margin: auto !important;
  }
}

@media screen and (max-width:900px) {
  nav .forms-container .weeks-form div input {
    width: 10%;
    min-width: 60px;
  }

}

@media screen and (max-width:768px) and (min-width: 600px) {
  nav ul button {
    font-size: 70%;
  }
}

@media screen and (max-width: 599px) {
  nav #navBar {
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    column-gap: 5%;
    row-gap: 10px;
  }
  nav .forms-container{
    width: 95%;
  }
  nav #navBar button {
    width: 100% !important;
    margin: auto !important;
  }

  nav .forms-container {
    row-gap: 25px;
    height: auto !important;
    padding: 25px;
  }

  nav .forms-container form {
    display: flex !important;
    flex-direction: column !important;
    row-gap: 10px;

  }

  nav .forms-container form .expected-birth,
  nav .forms-container form button,
  nav .forms-container .weeks-form div {
    width: 100% !important;
  }

  nav .forms-container form div {
    flex-direction: column;
  }

  nav .forms-container .weeks-form div input {
    width: 36%;
    min-width: 60px;
  }
}

/* [3. Services Container]*/
.service-container {
  display: flex;
  flex-direction: column;
  width: 97.5%;
  max-width: 1620px;
  padding: 5%;
  margin: auto;
  height: auto;
  background-color: #efefef;
  border-radius: 10px;
  border: solid 1px #bbb;
  box-shadow: 2px 2px 4px #666;
  margin-bottom: 25px;
}

.title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #039bdc;
}
.weeksAndDays {
  display: flex;
  width: 30%;
  flex-direction: row;
  justify-content: space-between;
}

.service-content {
  height: auto;
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  margin-bottom: 5%;
}

.pair {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 15px;
  align-items: center;
}
.pair div{
  text-align: center;
}
.pair span {
  background-color: #ddd;
  border: 1px solid #888;
  border-radius: 3px;
  padding: 2px 3px;
  min-width: 50px;
  width: 35%;
}

.pair .input {
  width: 100%;
  display: flex;

}

.pair .input span {
  width: 60%;
}

.pair .input input[type="number"] {
  width: 33%;
  min-width: 60px;
}

.pair .scores {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.pair .scores span {
  width: auto;
  min-width: 25px;
}

.percentile-bar-content p {
  color: white;
  text-align: center;
}

@media screen and (max-width:850px) {
  
.title-container h1{
  font-size: 28px;
 }
 .title-container .weeksAndDays{
   width: 50%;
 }
 .title-container h3{
   font-size: 15px;
  }
}

@media screen and (max-width:500px) {
  .pair {
    min-width: 200px;
    flex-direction: column;
  }

  .pair .scores {
    display: flex;
    justify-content: center;

  }
}

/* [4. Datation content]*/
#datation-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: 100%;
  row-gap: 20px;
  width: 50%;
  margin: auto;
}

#datation-container .datation-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#datation-container .datation-input input {
  min-width: 100px;
}

#datation-container .datation-input .pair {
  display: flex;
}

@media screen and (max-width: 891px) {
  #datation-container {
    min-width: 200px;
    row-gap: 50px;
  }

  .pair .input {
    width: 100%;
    display: flex;
    justify-content: space-between;

  }

  #datation-container .datation-input {
    flex-direction: column;
    width: 100%;
    row-gap: 25px;
  }
}


/* 5.- Biometric container*/
#biometric-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#left-biometric {
  width: 50%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border-right: 1px solid #bbb;
}

#right-biometric {
  padding-left: 5%;
  height: 100%;
  width: 50%;
}

@media screen and (max-width:891px) {
  #biometric-container {
    flex-direction: column;
  }

  #left-biometric {
    width: 100%;
    padding-bottom: 5%;
    padding-right: 0;
    flex-direction: column;
    border-right: unset;
    border-bottom: 1px solid #bbb;
  }

  #right-biometric {
    width: 100%;
    padding-top: 5%;
    padding-left: 0;
  }
}

.percentile-bar-container,
.meter {
  display: block;
  width: 96%;
  background-color: #ddd;
  border: solid 1px #888;
  height: auto;
  padding: 5px 2%;
  box-sizing: content-box;
  position: relative;
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.percentile-bar-content {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: left;
  display: block;
  border-radius: 25px !important;
  height: 25px;
  transition: 500ms linear;
}

.meter>span {
  width: 0;
  display: block;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(center bottom,
      rgb(43, 194, 83) 15%,
      rgb(84, 240, 84) 40%);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.meter>span:after,
.animate>span>span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(-45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent);
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  overflow: hidden;
}

.animate>span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

.biometric-single {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#right-biometric table {
  text-align: center;
  width: 100%;
  border-bottom: solid 2px #01A9DB;
}

#right-biometric table thead {
  border-bottom: solid 2px #01A9DB;
}

#right-biometric table th {
  padding: 15px 0;
}

#right-biometric table tbody th {
  border-bottom: solid 1px #01A9DB;
}

#right-biometric table span:not(.percentile-bar-container, .percentile-bar-content) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.percentile-table-container {
  width: 100%;
  display: block;
  padding-top: 0;
}

.genreSelector {
  margin: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none;
}

.genreSelector:focus {
  background-color: #0187b9 !important;
}
#hemodinamic-studio{
  display: flex;
  flex-direction: row;
}
#hemodinamic-studio #left-hemodinamic{  
  width: 50%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  margin: auto;
  row-gap: 25px;
}
#hemodinamic-studio #left-hemodinamic .pair .scores{
  justify-content: end;
}
#hemodinamic-studio #right-hemodinamic{  
  border-left: 1px solid #bbb;
  padding-left: 5%;
  height: 100%;
  width: 50%;
}
#hemodinamic-studio #right-hemodinamic .single-hemodinamic-displayer{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media screen and (max-width:1020px) {
  #hemodinamic-studio{
    flex-direction: column !important;
    row-gap: 25px;
  }
  #hemodinamic-studio #left-hemodinamic{
    width: 100%;
    padding-right: 0;
  }
  #hemodinamic-studio #right-hemodinamic{
    width: 100%;
    border-left: none;
    padding-left: 0;
  }
}
@media screen and (max-width: 430px){
  #right-biometric table{
    text-align: unset;
  }
  #right-biometric .genreSelector{
    font-size: 13px;
  }
  #right-biometric table th, #right-biometric table td{
    max-width: 0.8vw;
  }
  #right-biometric table th button{
    margin: auto auto auto 0 !important;
  }
  #right-biometric table th:nth-child(2n){
    display: none;
  }
}
/** 6.- Hemodinamic styles **/
#hemodinamic {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 50px 0px;
  place-items: center;
  column-gap: 30px;
  row-gap: 25px;
}

@media screen and (max-width: 1020px) {
  #hemodinamic{
    flex-direction: column;
  }
}

#hemodinamic #left-hemodinamic,
#hemodinamic #center-hemodinamic,
#hemodinamic #right-hemodinamic{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  row-gap: 25px;
}



.single-hemodinamic-displayer p {
  margin-bottom: 0;
}

.hemodinamic-single {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.double-input {
  display: flex;
  flex-direction: column;
}

.double-input div {
  display: flex;
  flex-direction: row;
}

/**
* BONES
*/
#bones-studio {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  place-items: center;
}

#leg-bones {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 5%;
  border-left: 1px solid #bbb;
  row-gap: 25px;
}

#hand-bones {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 5%;
  row-gap: 25px;
}

@media screen and (max-width: 764px) {
  #bones-studio{
    flex-direction: column;
  }
  #leg-bones {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0%;
    padding-top: 5%;
    border-left: none;
    row-gap: 25px;
  }
  
  #hand-bones {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 0%;
    border-bottom: 1px solid #bbb;
    padding-bottom: 5%;
    row-gap: 25px;
  }
}

/**
* LANCET
*/
#lancet{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.left-lancet {
  width: 50%;
  padding-right: 5%;
  border-right: 1px solid #bbb;
}
.flex-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#right-lancet{
  width: 50%;
  padding-left: 5%;
}
.highcharts-credits{
  display: none;
}
@media screen and (max-width: 1020px) {
  #lancet{
    flex-direction: column;
  }
  .left-lancet {
    width: 100%;
    padding-right: 0;
    border-right: none;
  }
  #right-lancet{
    padding-top: 25px;
    width: 100%;
    padding-left: 0;
  }
}
/**
Unic vs mult
*/
#unic-content{
  display: flex;
  flex-direction: column;
}
.top-unic{
  width: 50%;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 25px;
}
.top-unic .genreSelector{
  
  min-width: 58px;
}
.bottom-unic{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

@media screen and (max-width: 1020px) {
  .top-unic{
    width: 100% !important;
  }
}